*{
    font-family: 'Muli', sans-serif;
}
#descriere{
    margin-top: 0;
    border-radius:unset;
    border-top: 0.1em solid #c82828;
}
body > div:nth-child(1) > div > div.ui.red.inverted.menu{
    margin-bottom: 0;
    border-radius:unset;
}
#logo{
    padding:5px;
    width: 55px!important;
}
.ui.category.search>.results .category {
    display: flex!important;
}
.ui.vertical.divider{
    height: 0!important;
}
#ins_anunt, #anuleaza_anunt{
    float:right;
/*     position:relative; */
/*     left:85%; */
}
#segment_principal > div > div > div.ui.horizontal.segments > div:nth-child(n){
    width:33.33%
}
body > div:nth-child(1) > div > div > div > div > div.menu.transition.visible > div:nth-child(n) > a{
    color:black!important;
}